{% comment %}
BookThatApp 'Form 6 - Start Date and Time/From Date and Time'
{% endcomment %}

{% if product.metafields.bookthatapp.config %}

{% assign product_in_cart = false %}
{% for item in cart.items %}
  {% if item.product.handle == product.handle %}
    {% assign product_in_cart = true %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="booking-form" data-product-id={{ product.id }}>
{% if product_in_cart %}
    <p id="booking-guard-{{ product.handle }}"><a href="/cart">Voir votre réservation</a>.</p>

    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        $('#booking-guard-{{ product.handle }}').closest('form[action^="/cart/add"]').find('input:submit, button:submit, .hide-if-in-cart').hide();
      });
    </script>
{% else %}
    {% comment %}
    <div class="bta-resource-picker"></div>
    {% endcomment %}


	{% comment %}
	@todo
	This lines causes a problem:
	<input id="{{ attribute }}-{{ product.handle }}" type="text" name="properties[Du]" size="12"

	Indeed, I changed "properties[From]" to "properties[Du]" which triggers the reservation widget of BTA. So
	I had to desactivatet the widget. Same observation for:
	<input id="{{ attribute }}-{{ product.handle }}" type="text" name="properties[Au]" size="12"
    {% endcomment %}

	<div>
	  {% capture attribute %}booking-start{% endcapture %}
	  <label for="{{ attribute }}-{{ product.handle }}">Du:</label>
	  <input id="{{ attribute }}-{{ product.handle }}" type="text" name="properties[Du]" size="12"
	         class="datepicker bta required bta-load-enable bta-dp-start" disabled="disabled"
	         data-handle="{{ product.handle }}" data-variant="{{ product.selected_or_first_available_variant.id }}"
	         data-bta-product-config="{{ product.metafields.bookthatapp.config }}"
	         data-bta-range-partner-id="#booking-finish-{{ product.handle }}"
	         data-bta-range-days-max="0" data-bta-range-days-min="0"
	         data-time=""
	         placeholder="Sélectionner date" />
	</div>

	<div>
	  {% capture attribute %}Heure d'arrivée{% endcapture %}
	  <label for="{{ attribute }}-{{ product.handle }}">Heure d'arrivée:</label>
	  <select id="{{ attribute }}-{{ product.handle }}" name="properties[{{ attribute }}]"
	          class="bta-opening-hours bta-load-enable bta-time" disabled="disabled"
	          data-datepicker="booking-start-{{ product.handle }}"
	          data-prompt="Sélectionner heure">
	    <option class="loading">Chargement</option>
	  </select>
	  <span class="bta-no-slots-available" style="display: none;">No times available</span>
	</div>

	<div>
	  {% capture attribute %}booking-finish{% endcapture %}
	  <label for="{{ attribute }}-{{ product.handle }}">Au:</label>
	  <input id="{{ attribute }}-{{ product.handle }}" type="text" name="properties[Au]" size="12"
	         class="datepicker bta required bta-load-enable bta-dp-finish" disabled="disabled"
	         data-handle="{{ product.handle }}"
	         data-bta-range-partner-id="#booking-start-{{ product.handle }}"
	         placeholder="Sélectionner date" />
	</div>

	<div>
	  {% capture attribute %}Heure de fin{% endcapture %}
	  <label for="{{ attribute }}-{{ product.handle }}">Heure de fin:</label>
	  <select id="{{ attribute }}-{{ product.handle }}" name="properties[{{ attribute }}]"
	         class="bta-opening-hours bta-load-enable bta-time" disabled="disabled"
	         data-datepicker="booking-finish-{{ product.handle }}"
	         data-prompt="Sélectionner heure">
	    <option class="loading">Chargement</option>
	  </select>
	  <span class="bta-no-slots-available" style="display: none;">No times available</span>
	</div>

    <div class="bta-booking-fields"></div>

	<div class="bta-validation-messages" style="display:none">
		<p class="bta-validation-date-missing">Please select a date</p>
	</div>
  
  <input type="hidden" id="quantity" name="quantity" value="1" />
{% endif %}
</div>

<script>
  window.addEventListener("pageshow", function(evt){
    var sessionKey = "Product-{{ product.handle }}-added";
    if (evt.persisted || (performance.navigation.type == 2) || sessionStorage.getItem(sessionKey)) {
      // reload the product page if user click the back button
      sessionStorage.removeItem(sessionKey);
      window.location.reload();
    };
  }, false);

  {% unless bta_configured %}
  // prevent form submit until bta has finished loading
  document.addEventListener("DOMContentLoaded", function(event) {
    var forms = document.forms;
    for (var x = 0; x < forms.length; x++) {
      if (forms[x].action.indexOf('/cart/add') > -1) {
        forms[x].addEventListener("submit", function (event) {
          // check if bta has loaded
          if (!this.classList.contains("bta-active")) {
            event.preventDefault();
          }
        }, true);
      }
    }
  });

  var bta = {
    productId: {{ product.id }}
  }

  {% assign bta_configured = true %}
  {% endunless %}
</script>
{% endif %}

