{% comment %} Translations {% endcomment %}
{% assign open_maps_t = 'home.map.open_in_maps' | t %}
{% assign contact_us_t = 'layout.header.contact_us' | t %}
{% assign contact_name_t = 'contact_page.name' | t %}
{% assign contact_email_t = 'contact_page.email' | t %}
{% assign contact_message_t = 'contact_page.message' | t %}
{% assign contact_button_t = 'contact_page.button' | t %}
{% assign shopify_disclaimer_t = 'shopify.online_store.spam_detection.disclaimer_html' | t %}
{% assign follow_t = 'layout.header.follow' | t %}

{% comment %} Variables {% endcomment %}
{% assign facebook_url = settings.social--facebook--url %}
{% assign twitter_url = settings.social--twitter--url %}
{% assign pinterest_url = settings.social--pinterest--url %}
{% assign instagram_url = settings.social--instagram--url %}
{% assign vimeo_url = settings.social--vimeo--url %}
{% assign youtube_url = settings.social--youtube--url %}

{% if
  facebook_url.size > 0 or
  twitter_url.size > 0 or
  pinterest_url.size > 0 or
  instagram_url.size > 0 or
  vimeo_url.size > 0 or
  youtube_url.size > 0
%}
  {% assign show_social = true %}
{% endif %}

<div class="contact-modal">

  {% if contact_type == 'modal' and view == 'mobile-nav' %}
    <a class="mobile-nav--contact-modal-trigger" data-item="secondary-button" href="#">
      <div class="contact-modal--button">
        {{ contact_text | escape }}
      </div>
    </a>
  {% elsif contact_type == 'link' %}
    <a data-item="secondary-button" href="{{ contact_url }}">
      <div class="contact-modal--button">
        {{ contact_text | escape }}
      </div>
    </a>
  {% elsif contact_type == 'modal' %}

    <div
      class="modal"
      data-js-class="FrameworkModal"
      data-modal-fullscreen="true"
      data-modal-view="contact-modal"
    >
      <div class="modal--link">
        <a data-item="secondary-button" href="{{ store.url }}/pages/contact">
          <div class="contact-modal--button">
            {{ contact_text | escape }}
          </div>
        </a>
      </div>

      <div class="modal--content">
        <div class="contact-modal--content">
          <div class="contact-modal--wrapper">
            <div class="contact-modal--header">
              {% if settings.contact-modal--alternative-text and inverted_logo %}
                {%
                  render 'framework--logo',
                  image_type: 'inverted',
                  logo: logo,
                  inverted_logo: inverted_logo,
                  height_range: height_range
                %}
              {% else %}
                {%
                  render 'framework--logo',
                  logo: logo,
                  inverted_logo: inverted_logo,
                  height_range: height_range
                %}
              {% endif %}
            </div>

            {% unless store_address == blank and store_hours == blank %}
              <div class="contact-modal--left-column">
                {% unless store_address == blank %}
                  <div class="contact-modal--address">
                    <div class="contact-modal--address-text" data-item="paragraph">
                      {{ store_address | newline_to_br }}
                    </div>

                    <div
                      class="contact-modal--address-link"
                      {% if settings.contact-modal--alternative-text %}
                        data-item='inverted-block-link'
                      {% else %}
                        data-item="block-link"
                      {% endif %}
                    >
                      <a
                        href="https://www.google.ca/maps/place/{{ store_address | url_encode }}"
                        target="_blank"
                        rel="noreferrer"
                      >
                        {{ open_maps_t }}
                      </a>
                    </div>
                  </div>
                {% endunless %}

                {% unless store_hours == blank %}
                  <div class="contact-modal--hours">
                    <div class="contact-modal--hours-text" data-item="paragraph">
                      {{ store_hours }}
                    </div>
                  </div>
                {% endunless %}
              </div>
            {% endunless %}

            <div class="contact-modal--right-column">
              <div class="contact-modal--form">

                <div class="contact-modal--form-error"></div>

                <h3 class="contact-modal--form-title" data-item="block-heading">
                  {{ contact_us_t }}
                </h3>

                {% form 'contact', id: 'contact_form_modal' %}

                  <p>
                    <input
                      class="{% if form.errors contains 'name' %}error{% endif %}"
                      type="text"
                      name="contact[name]"
                      value="{{ contact.fields.name }}"
                      aria-label="{{ contact_name_t }}"
                      placeholder="{{ contact_name_t }}"
                    />
                  </p>
                  <p>
                    <input
                      class="{% if form.errors contains 'email' %}error{% endif %}"
                      type="email"
                      name="contact[email]"
                      value="{{ contact.fields.email }}"
                      aria-label="{{ contact_email_t }}"
                      placeholder="{{ contact_email_t }}"
                      required
                    />
                  </p>
                  <p>
                    <textarea
                      class="{% if form.errors contains 'body' %}error{% endif %}"
                      aria-label="{{ contact_message_t }}"
                      rows="10"
                      cols="60"
                      name="contact[body]"
                      placeholder="{{ contact_message_t }}"
                      required
                    >{{ contact.fields.body }}</textarea>
                  </p>
                  <p>
                    <div
                      class="contact-modal--form-submit"
                      {% if settings.contact-modal--alternative-text %}
                        data-item='inverted-secondary-button'
                      {% else %}
                        data-item='button'
                      {% endif %}
                    >
                      <button type="submit" value="{{ contact_button_t }}">
                        {{ contact_button_t }}
                      </button>
                    </div>
                  </p>

                  {% if form.posted_successfully? or form.errors %}
                    <script>window.location.hash = '#feedback-bar--contact-modal';</script>
                  {% endif %}

                  <div data-item="hidden-text">
                    {% comment %} remove the below line to display reCAPTCHA badge {% endcomment %}
                    {{ shopify_disclaimer_t }}
                  </div>
                {% endform %}

              </div>

              {% if show_social %}
                <div class="contact-modal--social">
                  <h3 class="contact-modal--social-title" data-item="accent-text">
                    {{ follow_t }}
                  </h3>
                  {% render 'partial--social-share', position: 'modal' %}
                </div>
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>